body{
    padding: 0;
    margin: 0;
}

.header{
    background: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.header-nav{
    display: flex;
    justify-content: space-around;
}

.header-logo p{
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 16px;
}

.header-link-text{
    display: flex;
    gap: 26px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-link-text p{
    margin-top: 16px;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    gap: 300px;
}

.header-img img{
    width: 500px;
    height: 250px;
}

.header-text{
    width: 450px;
}

.header-text .hero-text{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    margin: 0;
}

.header-text p{
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.header-text button{
    background: #3882F6;
    border-style: none;
    border-radius: 5px;
    padding: 5px 18px;
    color: #E5E7EB;
    margin-top: 8px;
}

.content{
    display: flex;
}